html, body, ul, li, * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #ffffff;
    max-height: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}