:root {
  --background: #e75874;
  --hover: #be1558;
  --color: #fbcbc9;
  --text: #322514;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/*-------------header-------------*/
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;

  background: #e75874;
}

.navbar {
  width: 100%;
  padding: 16px 0;
  height: 94px;

  flex-direction: column;
  position: relative;
  /* z-index: 99999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); */
}

.navbar-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #be1558;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.navbar-fix .logo a,
.navbar-fix .scroll-link,
.navbar-fix .bx-menu {
  color: #ffffff;
}

.first-image {
  display: none;
}

.navbar-fix .scroll-link:hover {
  border-bottom: 3px solid #ffffff;
}

.image-user {
  max-width: 100%;
  max-height: 100%;
  padding: 3px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

#image-of-user {
  width: 25px;
  height: 33px;
  object-fit: cover;
}

#image-of-user:hover {
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-weight: 700;
  font-size: 28px;
  color: #322514;
  cursor: pointer;
}

.top-nav {
  display: none;
}

.bx-menu {
  color: black;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 16px;
  color: #322514;
  font-weight: 700;
}

.scroll-link:hover {
  border-bottom: 3px solid #322514;
}

.nav-link:visited,
.nav-link:link {
  padding: 0 10px;
}

.nav-item:not(:last-child) {
  margin-right: 15px;
}

.clock:hover {
  animation: shake linear 0.1s;
  animation-iteration-count: infinite;
}

/*--------------hero-img--------------*/
.content-banner {
  position: absolute;
  top: 50%;
  transform: translate(40%, -50%);
}

.hero-img {
  position: absolute;
  bottom: 0%;
  right: 10%;
  height: 40rem;
  object-fit: contain;
}

.content-banner .discount {
  color: black;
}

.content-banner h1 span {
  color: #fbcbc9;
  font-weight: 700;
  display: block;
  text-shadow: 1px 1px 1px #f1f1f1;
}

.btn {
  display: inline-block;
  text-transform: uppercase;

  margin-top: 1rem;
  outline: none;
  border: none;

  background-color: black;
  color: #fff;

  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  color: #be1558;
  transition: all 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(5px, 0px);
  }
}

.nav-link.icon img,
.cart-icon img {
  height: 25px;
  width: 25px;
  margin-top: 10px;
}

.cart-icon,
.mini-menu {
  display: none;
  color: #fff;
}

/*--------------advert--------------*/
.section {
  padding: 5rem 0 5rem 0;
}

.advert-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.advert-box {
  position: relative;
  color: #fff;
  height: 27rem;
  border-radius: 1rem;
  padding: 1.6rem;
  overflow: hidden;
  z-index: 1;
}

.advert-box img {
  position: absolute;
  bottom: 0%;
  left: -20%;
  height: 100%;
  width: 35rem;
  z-index: -1;
}

.advert-box:nth-child(1) {
  background-color: #e75874;
}

.advert-box:nth-child(2) {
  background-color: #a1d1df;
}

.advert-box:nth-child(3) {
  background-color: #e5bc00;
}

.advert-box .dotted {
  position: relative;
  height: 100%;
  border: 2px dashed #f1f1f1;
  border-radius: 1rem;
}

.advert-box .content {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}

.advert-box .content h2,
.advert-box .content h4 {
  text-shadow: 5px 6px 0px rgba(37, 59, 112, 0.1);
}

.advert-box .content h2 {
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.advert-box .content h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

/*--------------product hot--------------*/
#product-hot {
  display: block;
  max-height: auto;
}

.title-hot {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 30%;

  color: #be1558;
  border-bottom: 3px solid #be1558;
}

.title-hot .label-hot {
  font-size: 30px;
}

.title-hot .label-hot:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.pagination .next,
.pagination .previous {
  margin-bottom: 10px;
  background-color: #be1558;
  outline: none;
  border: none;

  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;

  color: #fff;
  font-weight: bold;
}

.pagination .next:hover,
.pagination .previous:hover {
  cursor: pointer;
  background-color: #e75874;
}

.list-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 7rem 3rem;
  background: none;
}

.price-item {
  padding-top: 10px;
  text-align: center;
  flex-direction: column;
}

.price-item span img {
  background: none;
  display: inline-block;
}

.price-item span {
  min-height: 10vh;
}

.price-item p {
  font-size: 15px;
  color: #b68583;
  display: block;
}

/* .wrapper-list-item {
  max-height: 460px;
  display: flex;
  overflow-x: auto;
}

.wrapper-list-item::-webkit-scrollbar {
  width: 0;
} */
.item {
  height: 460px;
  min-width: 250px;
  margin-right: 10px;
  text-align: center;

  border: 1px solid #dddddd;
  border-radius: 1rem;
  border-top: none;
}

.item .pro-img {
  position: relative;
  background-color: #f6f2f1;
  transition: all 300ms ease-in-out;

  max-width: 100%;
  height: 22rem;
  z-index: 0;
}

.item .pro-img img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);

  height: 100%;
  width: 100%;
}

.item:hover .pro-img::after {
  cursor: pointer;
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  border-radius: 1rem 1rem 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-in-out;
  z-index: 1;
}

.pro-img .icons {
  position: absolute;
  top: 45%;
  right: 5%;
  transform: translate(0, -50%) scale(0);

  z-index: 2;
  transition: all 500ms ease-in-out;
  opacity: 0;
}

.pro-img .icons span {
  display: block;
  background-color: #fff;

  font-size: 1rem;
  border-radius: 50%;
  padding: 0.7rem 0.7rem;
  line-height: 2rem;

  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.pro-img .icons span:not(:last-child) {
  margin-bottom: 1rem;
}

.item:hover .icons {
  opacity: 1;
  transform: translate(0, -45%) scale(1);
}

.pro-img .icons span:hover {
  background-color: #be1558;
  color: #fff;
}

.price-item h3 {
  font-size: 20px;
  color: #be1558;
}
/*---------------about---------------*/
#about {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.about-me {
  width: 100%;
  min-height: 600px;
  margin-top: 50px;

  background-image: url(../images/rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 999;
}

.about-content {
  padding: 0 30px;
  width: 50%;
  line-height: 70px;
  min-height: 450px;
}

.about-img {
  background-color: #e75874;
}

.about-img img {
  margin-left: -20px;
  width: 550px;
  height: 488px;
  transform: translateY(20px);
}

h1.fashion-title {
  color: #be1558;
}

.fashion-text {
  font-size: 16px;
  line-height: 30px;
  color: #959595;
}

.btn-about {
  background-color: #be1558;
  padding: 10px;
  font-size: 16px;
  color: #fff;
}

.btn-about:hover {
  background-color: #e23178;
  color: black;
  transition: 0.5s all ease-in-out;
}

/*---------------list product---------------*/

#list-product {
  margin-top: 50px;
}

.type-product {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  padding: 10px;
}

.text-type {
  cursor: pointer;
  font-weight: 400;
  color: black;
  font-size: 20px;
}

.typeActive,
.text-type:hover {
  border-bottom: 2px solid #be1558;
}

/*---------------special food---------------*/

#special {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.special-product {
  max-width: 1200px;
  min-height: 600px;
  margin-top: 50px;

  background-image: url(../images/rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  flex-direction: column;
  position: relative;
  z-index: 999;
  padding: 50px;
}

.reason h1 {
  font-size: 30px;
  padding-bottom: 20px;
  color: #be1558;
}
.reason p {
  font-size: 17px;
}

.reason span {
  font-size: 17px;
}

.special-fashion {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.special-img {
  max-width: 100%;
}

.special-img img {
  width: 500px;
  height: 460px;
}

.list-special-img {
  max-width: 100%;
  flex-direction: column;
}

.btn-view-more {
  max-width: 25%;
  display: block;

  margin: 0 auto;
  text-align: center;

  background-color: #be1558;
  color: #ffffff;
  border-radius: 15px;
  font-size: 14px;

  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  transform: translateY(-10px);
}

.btn-view-more:hover {
  background-color: #e75874;
  color: #000;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.row-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.row-img img {
  width: 230px;
  height: 230px;
}

.row-img img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*---------------contact---------------*/

#contact {
  position: relative;
  z-index: 999;
  display: block;
  background: none;
}

.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-banner {
  width: 50%;
}

#contact-image-banner {
  width: 100%;
  min-height: 800px;
}

.contact-form {
  position: relative;
  box-shadow: 3px -3px 5px 0px #b4afaf;

  min-height: 800px;
  width: 50%;
  padding: 20px 0;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#submit-form {
  max-width: 100%;
  display: block;
  max-height: 600px;
}

.label-form {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.reserve {
  text-align: center;
  font-size: 17px;
}

.mail-form {
  text-align: center;
  font-size: 17px;
}

.form-zero {
  display: block;
  position: relative;

  margin-top: 40px;
  z-index: 99999;
  margin-left: 17%;
}

#form-one,
#form-two,
#form-three,
#form-four,
#form-five {
  line-height: 50px;
  display: inline-block;
}

#form-one input,
#form-two input {
  border: none;
  border-bottom: 1px solid #c4b5b5;
  outline: none;
  margin-right: 80px;
}

#form-three input {
  width: 200px;
  margin-right: 30px;

  outline: none;
  border: none;
  border-bottom: 1px solid #c4b5b5;
}

#form-four input {
  border: none;
  outline: none;

  width: 129px;
  border-bottom: 1px solid #c4b5b5;
}

#form-five input {
  padding-bottom: 70px;
  width: 200px;

  border: none;
  outline: none;
  border-bottom: 1px solid #c4b5b5;
}

#send {
  border-radius: 5px;
  margin-top: 20px;
  font-size: 18px;
  width: 80%;
  padding: 15px 0;

  background-color: #be1558;
  border: none;
  outline: none;

  color: #fff;
  font-weight: 600;
}

#send:hover {
  color: #000;
  background-color: #e75874;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

/*---------------label---------------*/
#label {
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  width: 100%;
}

.label-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.label-img {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
}

.label-ct img {
  object-fit: contain;
}

/*---------------footer---------------*/
#footer {
  width: 100%;
  background: black;
  color: #aaaaaa;
}

#footer .list-service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;

  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #3f3f3f;
}

.first-service {
  display: flex;
  justify-content: space-between;
  max-width: auto;

  max-height: 350px;
  max-width: 100%;
}

.about {
  padding: 0 10px;
  width: 250px;
  margin-top: -12px;
}

.label-footer {
  text-transform: uppercase;
  color: #999;
  font-size: 17px;

  margin: 0;
  line-height: 16px;
}

.text-footer {
  padding-top: 20px;
  line-height: 20px;
  font-size: 13px;

  color: #aaaaaa;
  text-align: left;
}

.img-footer {
  width: 150px;
  margin-left: 50px;
}

.support {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  width: 250px;
  box-sizing: border-box;
}

.label-service {
  margin: 0;
  font-size: 17px;
  line-height: 16px;

  text-transform: uppercase;
  color: #999;
}

.ul-service {
  padding-top: 20px;
}

.li-service {
  line-height: 20px;
}

.a-service {
  color: #817979;
  font-size: 13px;
}

.a-service:hover {
  color: #e45757;
}

.second-service {
  display: flex;
  justify-content: space-between;

  max-height: 350px;
  max-width: 100%;
  padding-left: 10px;
}

.service {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  text-transform: uppercase;
  width: 250px;
}

.label-service {
  text-transform: uppercase;
  margin: 0;
  font-size: 17px;
  line-height: 16px;
  color: #999;
}

.ul-service {
  padding-top: 20px;
}

.li-service {
  line-height: 20px;
}

.a-service {
  color: #817979;
  font-size: 13px;
}

a.a-service:hover {
  color: #be1558;
}

.information {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  text-transform: uppercase;
  width: 250px;
}

.label-service {
  font-size: 17px;
  line-height: 16px;
  color: #999;

  text-transform: uppercase;
  margin: 0;
}

.ul-service {
  padding-top: 20px;
}

.li-service {
  line-height: 20px;
}

.a-service {
  color: #817979;
  font-size: 13px;
}

.a-service:hover {
  color: #e45757;
}

#footer .detail-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

#footer .detail-us .text {
  width: 650px;
  font-size: 13px;
}

.title-link {
  color: #fff;
}

.title-link:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #be1558;
}

.text .link:hover {
  cursor: pointer;
  color: #be1558;
}

#footer .detail-us .social {
  max-width: 650px;
  display: flex;
  justify-content: space-evenly;
}

.social img {
  padding: 0 5px;
}

.social .clock:hover {
  cursor: pointer;
}

/*----------------------------------------------login----------------------------------------------*/

body.form-user {
  display: grid;
  place-items: center;

  height: 750px;
  width: 100%;

  background: #e75874;
}

.wrapper {
  overflow: hidden;
  background: #fff;

  width: 500px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title {
  color: #be1558;
  font-size: 35px;
  font-weight: 600;

  width: 50%;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  height: 100%;
  width: 96%;
  font-size: 17px;

  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #be1558;
  border-bottom-width: 2px;

  outline: none;
  transition: all 0.3s ease;
}

.form-inner form .field input:focus {
  transition: 0.5 s all ease-in-out;
}

.field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

.pass-link {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.pass-link a,
.signup-link a {
  cursor: pointer;
  color: #363535;
  text-decoration: none;
}

.pass-link a:hover,
.signup-link a:hover {
  text-decoration: underline;
}

.return-home {
  display: flex;
  justify-content: flex-end;

  color: #be1558;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.return-home:hover {
  transition: 0.1s all ease-in-out;
}

#btn-login {
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;

  background-color: #be1558;
  color: #fff;
  border: none;
  outline: none;

  font-size: 18px;
  font-weight: 500;
}

#btn-login:hover {
  cursor: pointer;
  background-color: #e23178;
  color: #322514;
  transition: 0.5s all ease-in-out;
}

#btn-hv:hover {
  text-decoration: none;
  border-bottom: 2px solid #be1558;
}

.or-signup {
  width: 100%;
  margin: 15px 0;

  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-facebook,
#btn-google {
  width: 100%;
  border-radius: 5px;
  color: #fff;
  background-color: #be1558;

  border: none;
  outline: none;
  padding: 10px 0;
  margin: 0 auto;
  font-weight: 500;
}

#btn-facebook {
  background-image: url("../images/fb.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 10px;
}

#btn-google {
  background-image: url("../images/gg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 10px;
}

#btn-facebook:hover,
#btn-google:hover {
  cursor: pointer;
  background-color: #e23178;
  color: #322514;
  transition: 0.5s all ease-in-out;
}

.end {
  color: #be1558;
  text-align: center;
}

.or-signup span {
  color: #be1558;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.clock:hover {
  cursor: pointer;
}

/* ---------trang product.html--------- */

.header-products {
  position: relative;
  width: 100%;
  min-height: 25vh;
  background-color: #ffffff;
}

.products h2 {
  font-size: 25px;
}

.products {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 30%;

  color: #be1558;
  border-bottom: 3px solid #be1558;
}

.pagination-product {
  position: relative;
  display: flex;
  width: 100%;
  padding: 30px 0;
}

.list-pagination {
  max-width: auto;
}

.item-pagination {
  padding: 3px 10px;
  border: 2px solid #dddddd;
  font-size: 20px;
  color: #e75874;
}

.list-pagination:not(:last-child) {
  margin-right: 5px;
}

.item-pagination:hover {
  border: 2px solid #be1558;
  transition: 0.5s all;
}

/* ---------trang detail-item.html--------- */

#information-item {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.title-item,
.price-detail-item,
.choose-size-item,
.choose-color-item,
.choose-quantity-item,
.description-item,
.submit-purchase-item {
  display: block;
}

.choose-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#size {
  width: 8rem;
}

#review-user {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.detail-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 4rem;
}

.detail-image-item {
  display: flex;
  align-items: flex-start;
}

.list-infor-item {
  display: flex;
  flex-direction: column;
}

.list-detail-item {
  border: 1px solid #ddd;
  border-right-color: transparent;

  padding: 1rem;
  width: 5.8rem;

  cursor: pointer;
  transition: 0.3s;
}

.list-detail-item:hover {
  border: 1px solid #be1558;
}

.main-image-item {
  width: 100%;
  object-fit: cover;
}

.image-item {
  width: 100%;
  object-fit: cover;
}

.list-detail-item:hover .image-item {
  scale: 1.1;
}

.main-infor-item {
  width: 100%;
  border: 1px solid #ddd;
  max-width: 450px;
  padding: 1rem;
}

/*comment product*/
.content-detail-product {
  padding: 2rem;
  width: 100;
}

.content-tab {
  background: #e23178;
  width: 100%;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-feature {
  padding: 10px;
  color: #fff;
}

.description-active,
.btn-feature:hover {
  color: black;
}

.btn-feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-feature i {
  position: relative;
  padding: 0.45rem;

  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.btn-feature .primary-title {
  font-size: 20px;

  opacity: 0.6;
  padding-left: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}

.btn-feature:hover
  .primary-title
  .btn-feature:hover
  i
  .btn-feature:hover
  i:hover {
  opacity: 0;
}

.detail-infor-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  line-height: 35px;
  width: 100%;
}

.label-item {
  font-weight: 700;
}

.money-item {
  color: #be1558;
  font-weight: 300;
  font-size: 20px;
}

.label-size-item {
  font-weight: 500;
  font-size: 20px;
}

.choose-quantity-item {
  display: flex;
  align-items: center;
}

.label-quantity {
  font-size: 22px;
}

.minus-btn,
.plus-btn {
  background: #fff;
  padding: 2px 10px;
  border: 1px solid #e23178;

  color: #322514;
  outline: none;
  font-size: 15px;
}

.form-quantity {
  line-height: 80px;
  padding: 0 1rem;
}

.counter-btn {
  margin-bottom: 2px;
  width: 4rem;
  padding: 3.1px;

  text-align: center;  
  outline: none;
  border: 1px solid #be1558;
}

.minus-btn:hover,
.plus-btn:hover {
  cursor: pointer;
  background-color: #be1558;
  color: #fff;
  transition: 0.2s all ease-in-out;
}

.label-des-item {
  font-weight: 700;
  color: #e23178;
  font-size: 24px;
}

.txt-item {
  font-size: 15px;
}

.submit-purchase-item {
  margin: 20px 0;
}

.submit-item {
  background-image: url("../images/cart.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100px;

  font-size: 15px;
  border-radius: 30px;
  padding: 15px 40px 15px 20px;

  color: #322514;
  background-color: #e23178;
}

.submit-item:hover {
  background-image: url("../images/cart2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100px;

  background-color: #be1558;
  color: #fff;
  transition: 0.5s all ease-in-out;
}

.more-item {
  text-align: right;
  padding: 10px;
}

#see-more {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;

  font-size: 18px;
  text-decoration: none;
  color: #e23178;
}

#more {
  padding: 5rem 0;
  display: none;
}

.see-more:hover {
  border-bottom: 2px solid #e23178;
}

/* ----------- list-product-purchased -------------- */

.table-list-product {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.title-table {
  display: flex;
  justify-content: space-between;
  align-content: center;

  background-color: #e23178;
  padding: 10px;
  color: #fff;
}

.list-product-purchased {
  max-height: auto;
  display: block;
}

.product-purchased {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.product-purchased:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}
.infor-title {
  width: 270px;
  max-height: 160px;

  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infor-image-title {
  width: 100%;
}

.image-title-purchased {
  width: 150px;
  height: 150px;
}

.infor-product {
  margin-left: 5px;
  width: 100%;
}

.name-product {
  font-weight: 600;
  color: #be1558;
  font-size: 20px;
}

.price-product {
  font-size: 15px;
}

.delete-product {
  font-size: 15px;
  color: #be1558;
}

.delete-product:hover {
  color: #e23178;
}

.infor-quantity {
  display: flex;
  width: 313px;
}

.decrease,
.increase {
  padding: 0 10px;
  font-size: 20px;

  background: none;
  border: none;
  outline: none;
}

.decrease:hover,
.increase:hover {
  cursor: pointer;
  color: #be1558;
}

#counter-product1,
#counter-product2,
#counter-product3 {
  text-align: center;
  width: 48px;
  padding: 0 15px;

  font-size: 15px;
  border: 1px solid #be1558;
}

.total-price {
  font-size: 18px;
}

.pay-money {
  width: 50%;
  min-height: 300px;
  padding: 20px 0;

  display: block;
  border-top: 7px solid #be1558;
}

.total-money,
.tax-money,
.sub-total-money {
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.total-pay,
.money {
  font-size: 18px;
}

.button-checkout {
  line-height: 80px;
  margin-top: 15px;
  text-align: center;
  margin: 0 auto;
}

.checkout-money {
  background-image: url("../images/cart.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 112px;

  color: #322514;
  font-size: 20px;
  background-color: #be1558;
  padding: 10px 30px 10px 15px;
}

.checkout-money:hover {
  background-image: url("../images/cart2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 112px;

  color: #ffffff;
  background-color: #e23178;
  transition: 0.5s all ease-in-out;
}

/*-----------------trang profileUser.html ----------------*/

#my-History {
  position: relative;
  width: 100%;
}

.history {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-height: auto;
}

.side-bar-user {
  flex: 20%;
  background-color: #be1558;
  min-height: 80vh;
}

.list-user {
  display: flex;
  flex-direction: column;
}

.a-user {
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.a-user-active,
.a-user:hover {
  cursor: pointer;
  background-color: #e23178;
}

.content-bar {
  flex: 80%;
  overflow-x: auto;
}
/* .content-bar-history {
  flex: 80%;
  overflow-x: auto;
} */
#table-history {
  border-collapse: collapse;
  border-spacing: 0;

  width: 100%;
  border: 1px solid #be1558;
  max-height: auto;
}

#thead th {
  text-align: center;
  padding: 8px;

  font-size: 24px;
  font-weight: 1000;
  color: #be1558;
}

#history-purchase td {
  text-align: center;
  padding: 8px;
  font-size: 15px;
}

.del {
  color: #be1558;
  font-weight: 700;
}

.del:hover {
  border-bottom: 1px solid #be1558;
}

/*----------------------userProfile*----------------------*/

.form-profile-user {
  padding: 10px 0;
  border-top: 1px solid #dddddd;
  border-top: 1px #be1558 dashed;
  border-bottom: 1px #be1558 dashed;
}

#label-form-profile {
  display: flex;
  justify-content: center;

  font-size: 30px;
  padding: 10px 0;
  font-weight: bold;
  color: #be1558;
}

#form-profile {
  display: block;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  min-height: 600px;
}

#form-profile-user {
  max-height: auto;
  max-width: 100%;
}

.bg-img {
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-profile {
  background: #e23178;
  border-radius: 50%;
  border: 1px solid #be1558;

  padding: 5px;
  width: 70px;
  height: 70px;
  object-fit: contain;
}

#choose-img {
  outline: none;
  border: none;
  background: #be1558;
  color: #fff;
  border-radius: 1px solid;

  height: 50%;
  border-radius: 20px;
  margin-left: 15px;
  padding: 5px;
}

#choose-img:hover {
  cursor: pointer;
  background: #e23178;
  color: black;
  transition: 0.3s all ease-in-out;
}

#form-profile tr {
  line-height: 50px;
}

#form-profile tr td {
  padding: 0 20px;
}

#form-profile tr td .td-label {
  font-weight: 700;
  font-size: 18px;
}

#user-cmnd,
#user-username,
#user-password,
#user-email,
#user-address,
#user-city {
  width: 180px;
  padding: 5px;
  outline: none;
  border: 1px solid #be1558;
}

#user-cmnd:focus,
#user-username:focus,
#user-password:focus,
#user-email:focus,
#user-address:focus,
#user-city:focus {
  border: 1px solid #be1558;
  transition: 0.1s all ease-in-out;
}

.gender-label {
  font-size: 16px;
}

#change-profile {
  margin-top: 20px;
  outline: none;
  border: none;
  padding: 10px 20px; 
  border-radius: 20px;

  color: #fff;
  font-size: 15px;
  background-color: #be1558;
}

.update-profile {
  display: flex;
  justify-content: center;
}

#change-profile:hover {
  cursor: pointer;
  color: black;
  background-color: #e23178;
  transition: 0.5s all ease-in-out;
}
/*----------------------------about-us.html---------------------*/

.about-info {
  padding: 20px;
  margin-top: -50px;
  text-align: center;

  color: #be1558;
  text-shadow: 1.5px 1.5px 1.5px #cc0000;
}

/*--------------------dashboard Admin ----------------*/

.dashboard-admin {
  position: relative;
  width: 100%;
  max-height: 100%;
}

.header-dashboard {
  display: flex;
  flex-wrap: wrap;

  border-bottom: 1px solid #fff;
  width: 100%;
  min-height: 10vh;
}

.welcome {
  flex: 20%;
  display: block;
  height: 10vh;

  background: #be1558;
  text-align: center;
}

.welcome h3 {
  font-size: 20px;
  color: #f1f1f1;
  line-height: 10vh;
}

.header-search {
  flex: 70%;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
}

#input-search {
  margin-right: 5px;
  width: 80%;
  padding: 10px;

  background-color: #ffffff;
  border: none;
  outline: none;
}

#button-search {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;

  background-color: #be1558;
  font-weight: 500;
  color: #fff;
}

#button-search:hover {
  cursor: pointer;
  background-color: #e23178;
  color: black;
  transition: 0.5s all ease-in-out;
}

.signout {
  flex: 10%;
  height: 10vh;

  display: block;
  background: #be1558;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signout a {
  color: #fff;
  font-size: 15px;
}

.signout a:hover {
  border-bottom: 1px solid #fff;
}

.content-dashboard {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
}

.side-bar-dashboard {
  background-color: black;
  flex: 20%;
}

.label-dashboard {
  width: 100%;
  text-align: center;
}

.content-admin {
  padding: 20px 0;
  flex: 80%;
  overflow-x: scroll;
}

.href-admin {
  max-width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #be1558;
}

.a-admin {
  font-size: 20px;
  color: #fff;
}

.href-admin:hover {
  background-color: #e23178;
}

.add-user {
  background-color: #be1558;
  color: #ffffff;
  border-radius: 20px;
  
  padding: 8px 15px;
  margin: 10px 0;

  line-height: 70px;
  margin-left: 1.5%;
}

.back-home {
  width: 25px;
  height: 25px;
}

.return-dashboard {
  position: absolute;
  right: 2%;
  margin-top: -50px;
}

.return-dashboard:hover {
  border-bottom: 1px solid black;
}

.add-user:hover {
  background-color: #e23178;
  color: black;
  transition: 0.5s all ease-in-out;
}

.href-admin:hover.href-admin:active {
  background-color: gray;
}

.detail-content-admin {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  text-align: center;

  max-width: 100%;
  padding: 30px 0;
  z-index: 999;
}

#table-user-infor {
  max-width: 100%;
}

#history-user {
  height: 10vh;
  max-width: 100%;
}

#history-user td {
  font-size: 18px;
  text-align: center;
}

#history-user td img {
  width: 100px;
  height: 100px;
}

.update {
  background-color: rgb(154, 231, 39);
  color: #322514;

  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.update:hover {
  color: #fff;
  background-color: green;
  transition: 0.5s all ease-in-out;
}

.delete {
  background-color: rgb(202, 17, 17);
  color: #322514;

  padding: 5px;
  border-radius: 15px;
}

.accept {
  background-color: rgb(19, 89, 196);
  color: #fff;
  padding: 5px;
  border-radius: 15px;
}

.accept:hover {
  background-color: blue;
  transition: 0.5s all ease-in-out;
}

.delete:hover {
  color: #fff;
  background-color: red;
  transition: 0.5s all ease-in-out;
}

/*---------dashBoardAddUser------------------*/

#form-add-user {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-add-user {
  flex: 80%;
}

#btn-add-user {
  background-color: #be1558;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #fff;

  font-weight: 400;
  width: 100%;
  margin-left: 50%;
  padding: 10px;
}

#btn-add-user:hover {
  background-color: #e23178;
  cursor: pointer;
  color: black;
  transition: 0.5s all ease-in-out;
}

.table-user tr {
  line-height: 50px;
}

/*--dashboard list product --*/

.img-product {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

/*discount form */

.infor-discount {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: 0.6s;
  transform: scale(1);
}

.discount-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;

  margin: 0 auto;
  height: 15rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;

  display: table;
  overflow: hidden;
  background-color: #fff;
}

.discount-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 2rem;
  right: 2rem;
  padding: 1.5rem;

  background-color: none;
  border-radius: 50%;
  cursor: pointer;
}

.discount-close i {
  width: 1.7rem;
  height: 1.7rem;
}

.discount-left {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  height: 100%;
}

.discount-right {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 3rem 5rem;
}

.discount-image {
  width: 100%;
  overflow: hidden;
}

.discount-image .dis-img {
  display: block;
  width: 30rem;
  height: 35rem;

  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.content-right {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.content-right h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.content-right h1 span {
  color: #be1558;
}

.content-right p {
  font-size: 1.8rem;
  color: gray;
  margin-bottom: 1.6rem;
}

.discount-form {
  width: 100%;
  text-indent: 1rem;

  margin-bottom: 1.6rem;
  padding: 2rem 0;
  border-radius: 3rem;
}

.discount-form:focus {
  outline: none;
}

.content-right a:link,
.content-right a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;

  font-weight: 700;
  color: black;
  background-color: #be1558;

  border-radius: 3rem;
  border: 1px solid gray;
  transition: 0.3s;
}

.content-right a:hover {
  background-color: black;
  border: 1px solid gray;
  color: #fff;
}

.hide-discount {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

/*css slide */
.slide-gr {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* overflow hidden để tí nữa cái slides tràn ra nó 
  che lại á ^^ */
  font-size: 0;
}

.slides {
  display: flex;
  font-size: 0;
  /* tại sao mình lại dùng font size 0
  -> vì ở slide thằng con của nó mình chia layoyt
  dạng display inline-block
  -> nó tựa như các chữ bình thường (2 chữ kế nhau nó sẽ
  có 1 khoảng cách nhỏ nên mình phải cho 0 để triệu
  tiêu khoảng cách nó */
  transition: all 0.6s ease;
}

.slide {
  display: flex;
  justify-content: center;
  text-align: center;

  margin-left: 5px;
  font-size: 30px;
  background-color: none;
}

/*slide-show-detail-item-page*/

.list-detail-item {
  opacity: 0.7;
}

.active,
.list-detail-item:hover {
  opacity: 1;
  border: 1px solid #be1558;
}

.content-user-product {
  display: block;
  padding: 5rem 0;
}

.content-bar {
  display: block;
}

/*------------responsive design----------------*/

@media only screen and (max-width: 376px) {
  #form-three input {
    max-width: 53%;
  }

  #form-five input {
    max-width: 73%;
  }

  .special-fashion {
    flex-wrap: wrap;
  }

  .list-special-img {
    display: none;
  }

  .fashion-title {
    font-size: 35px;
  }

  .fashion-text {
    font-size: 15px;
  }

  .text-type {
    font-size: 13px;
  }

  .detail-us {
    transform: translateY(30px);
  }

  .detail-item {
    padding: 0;
    margin: 0;
  }

  .description-item {
    width: 95%;
  }

  .detail-us {
    transform: translateY(30px);
  }

  .product-purchased {
    min-height: 500px;
    margin-top: -100px;
  }

  .total-price {
    font-size: 15px;
  }

  .title-pro,
  .title-quantity,
  .title-money {
    font-size: 13px;
  }

  .name-product {
    font-size: 17px;
  }

  .price-product {
    font-size: 14px;
  }

  .delete-product {
    font-size: 12px;
  }

  .infor-title {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 415px) {

#form-five {
    min-height: 50px;
}
  .form-inner form .field input {
    width: 93%;
  }

  .detail-item {
    padding: 0;
    margin: 0;
  }

  .description-item {
    width: 95%;
  }

  .detail-us {
    transform: translateY(30px);
  }

  .title-hot {
    width: 80%;
  }

  .container {
    padding: 0 5rem;
  }

  .form-zero #send {
    transform: translateY(-15px);
  }

  .list-special-img {
    display: none;
  }

  .side-profile {
    flex: 100%;
  }

  .infor-title {
    flex-wrap: wrap;
  }

  .title-pro,
  .title-quantity,
  .title-money {
    font-size: 15px;
  }

  .product-purchased {
    min-height: 400px;
    margin-top: -40px;
  }
}

@media only screen and (max-width: 576px) {
  .side-bar-user {
    min-height: auto;
  }

  .side-profile {
    flex: 100%;
  }

  .title-hot .label-hot {
    font-size: 20px;
  }

  .first-image {
    display: block;
  }

  .list-service {
    padding: 20px;
  }

  .text-type {
    font-size: 15px;
  }

  .label-content {
    grid-template-columns: repeat(3, 1fr);
  }

  #footer .detail-us {
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20%;
  }

  #footer .detail-us .text {
    text-align: center;
  }

  #footer .social {
    transform: translateY(-50px);
  }

  #footer .list-service {
    flex-wrap: wrap;
  }

  .contact-me {
    flex-wrap: wrap;
  }

  .contact-banner {
    width: 100%;
  }

  #form-three input {
    width: 265px;
  }

  #form-five input {
    width: 265px;
  }

  .contact-form {
    width: 100%;
    box-shadow: none;
    border: 1px solid #dddddd;
  }

  .form-zero #send {
    width: 75%;
    margin: 20px 0;
  }

  #label {
    margin-top: 50px;
  }

  .special-fashion {
    flex-wrap: wrap;
  }

  .special-img {
    width: 100%;
  }

  .list-special-img {
    width: 100%;
  }

  .about-content {
    width: 100%;
  }

  .about-me {
    flex-wrap: wrap;
    height: 1000px;
  }

  .main {
    flex-wrap: wrap;
  }

  .about-img {
    margin-top: -200px;
    margin-left: 5%;
  }

  .text {
    transform: translateY(-100px);
  }

  .main-banner {
    transform: translateY(0);
    margin: 0 auto;
  }

  .support,
  .about,
  .service,
  .information {
    width: 200px;
  }

  .header {
    height: 115vh;
  }

  .content-banner {
    top: 35%;
    transform: translate(15%, -50%);
  }

  .hero-img {
    bottom: 0%;
    left: 15%;
  }

  .header-search,
  .signout,
  .welcome {
    flex: 100%;
  }

  .side-bar-dashboard {
    flex: 100%;
  }

  .wrapper {
    width: 80%;
  }

  .header-products {
    height: 0;
  }

  .form-inner form .field input {
    width: 95%;
  }

  .products h2 {
    font-size: 20px;
  }

  .products {
    width: 60%;
  }

  #information-item {
    padding: 0;
    margin: 0;
  }

  .detail-image-item {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .list-infor-item {
    margin-top: 1rem;
    flex-direction: row;
    justify-content: center;
  }

  /*responsive list-product-purchased.html*/
.pay-money {
  width: 100%;
}

.product-purchased {
  min-height: 400px;
  margin-top: -40px;
}

.title-pro,
.title-quantity,
.title-money {
  font-size: 19px;
}

.infor-title {
  flex-wrap: wrap;
}
}

@media only screen and (max-width: 768px) {
  .pay-money {
    width: 100%;
  }
  
  .first-image {
    display: block;
  }

  .container {
    padding: 0;
  }

  .reason h1 {
    font-size: 28px;
  }

  .reason {
    padding: 20px 0;
  }

  .special-fashion {
    flex-wrap: wrap;
  }

  .special-img {
    width: 100%;
  }

  .list-special-img {
    width: 100%;
  }

  .second-service {
    margin-top: 5%;
  }
  #footer .detail-us {
    padding: 10px 0;
    flex-wrap: wrap;
  }

  #footer .detail-us .text {
    text-align: center;
  }

  #footer .list-service {
    flex-wrap: wrap;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;

    max-width: 65%;
    height: 100%;
    z-index: 999;

    background-color: #e75874;

    transition: all 500ms ease-in-out;
    overflow: hidden;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;

    background-color: #be1558;
    padding: 10px 16px;
  }

  .top-nav .logo a {
    color: #fff;
  }

  .top-nav .close {
    color: #fff;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
  }

  .mini-menu {
    display: block;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item:last-child {
    display: none;
  }

  .nav-link:link,
  .nav-link:visited {
    text-align: center;
    display: block;
    width: 100%;

    font-size: 17px;
    padding: 15px;

    color: #fff;
  }

  .nav-link:hover {
    background-color: #be1558;
    border: none;
  }

  .cart-icon {
    display: block;
    font-size: 3rem;
    margin-top: -10px;
  }

  .nav-link.icon {
    display: none;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero-img {
    right: 4%;
  }

  .content-banner h2 {
    font-size: 35px;
  }

  .content-banner h1 span {
    font-size: 25px;
  }

  .title-hot {
    width: 58%;
  }

  .header-search,
  .signout,
  .welcome {
    flex: 100%;
  }

  .content-admin {
    overflow-x: scroll;
  }

  .a-admin {
    font-size: 14px;
  }
}

@media only screen and (max-width: 920px) {
  .reason {
    text-align: center;
  }

  .special-fashion {
    flex-wrap: wrap;
    text-align: center;
  }

  .special-img {
    width: 100%;
  }

  .list-special-img {
    width: 100%;
  }

  .second-service {
    margin-top: 5%;
  }

  #footer .detail-us {
    padding: 10px 0;
    flex-wrap: wrap;
  }

  #footer .detail-us .text {
    text-align: center;
  }

  #footer .list-service {
    flex-wrap: wrap;
  }

  .container {
    padding: 0 70px;
  }

  .nav-link {
    font-size: 14px;
  }

  .logo a {
    font-size: 24px;
  }

  .content-banner {
    transform: translate(20%, -50%);
  }

  .hero-img {
    height: 25rem;
    right: -10%;
  }

  .detail-content-admin {
    padding: 0 100px;
  }

  .content-admin {
    overflow-x: scroll;
  }

  .a-admin {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  .detail-content-admin {
    padding: 0 50px;
  }

  .container {
    padding: 0 30px;
  }

  .content-banner {
    transform: translate(8%, -20%);
    left: 0%;
  }

  .hero-img {
    right: 4%;
  }

  .title-hot {
    width: 45%;
  }
}
